.footer {
  padding-top: 2rem;
  margin-bottom: 0;
}

.piePag {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.redes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.iconosRedes {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.logo {
  max-height: 3.125rem;
  border-radius: 0.625rem;
}

@media (max-width: 30rem) {
  .piePag {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 0.5rem;
  }

  .text-center {
    display: grid;
    place-content: center;
    gap: 0.75rem;
  }

  .text-center small {
    padding-top: 1.5rem;
    text-align: center;
  }

  .iconosRedes {
    flex-wrap: wrap;
    gap: 0.75rem;
  }
}
