/* Header */
header {
    display: flex;
    justify-content: center;
    background-color: var(--main-clr1);
    min-height: 18.2vh;
    padding: 1.1rem 0.5rem;
}

.nav-contenedor {
    display: flex;
    background-color: var(--main-clr2);
    justify-content: center;
    place-items: center;
    width: 98%;
    border-radius: 1rem;
}

.header-nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.header-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}

.nav-links {
    transition: transform 0.4s ease, text-shadow 0.4s ease;
    border-radius: 0.5rem;
    border: none;
}

.nav-links:hover {
    transform: translateY(-5px) scale(1);
    text-shadow: 0 12px 10px var(--main-clr7);
}

.buscador {
    width: 150px;
}

/* ==========================
Botones login
========================== */
.login-btns {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.btn-login {
    background-color: #adb5bd;
    border-color: rgba(255, 255, 255, 0.2);
    color: #212529;
    border-radius: 10px;
    font-size: 0.9rem;
    min-width: 120px;
}

.btn-login:hover {
    background-color: #ced4da;
    border-color: rgba(255, 255, 255, 0.2);
    color: #212529;
}