/* Header */
header {
    display: flex;
    justify-content: center;
    background-color: var(--main-clr1);
    min-height: 18.2vh;
    padding: 1.1rem 0.5rem;
}

.navContenedor {
    display: flex;
    background-color: var(--main-clr2);
    justify-content: center;
    place-items: center;
    width: 98%;
    border-radius: 1rem;
}

.headerNav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.headerNav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}

.navLinks {
    transition: transform 0.4s ease, text-shadow 0.4s ease;
    border-radius: 0.5rem;
    border: none;
}

.navLinks:hover {
    transform: translateY(-5px) scale(1);
    text-shadow: 0 12px 10px var(--main-clr7);
}

.formControl {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    border-radius: 7px;
    margin-right: 8px;
    width: 150px;
}

.formControl:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 4px rgba(13, 110, 253, .25)
}

/* ==========================
Botones login
========================== */
.loginBtns {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.btnLogin {
    background-color: #adb5bd;
    border-color: rgba(255, 255, 255, 0.2);
    color: #212529;
    border-radius: 10px;
    font-size: 0.9rem;
    min-width: 120px;
    text-decoration: none;
    text-align: center;
    padding: 7px 9px;
    font-size: 16px;
}

.btnLogin:hover {
    background-color: #ced4da;
    border-color: rgba(255, 255, 255, 0.2);
    color: #212529;
}