
/* Contenedor principal del header */
.headerWrapper {
    display: flex;
    justify-content: center;
    background-color: var(--main-clr1);
    min-height: 18.2vh;
    padding: 1.1rem 0.5rem;
}

.navContenedor {
    display: flex;
    background-color: var(--main-clr2);
    justify-content: center;
    place-items: center;
    width: 98%;
    border-radius: 1rem;
}

/* Nav principal */
.headerNav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

/* Enlaces de navegación */
.navLinks {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    transition: transform 0.4s ease, text-shadow 0.4s ease;
    border-radius: 0.5rem;
    border: none;
}

.navLinks:hover {
    transform: translateY(-5px) scale(1);
    text-shadow: 0 12px 10px var(--main-clr7);
}

/* Buscador */
.formBuscador {
    display: flex;
    align-items: center;
}

.buscador {
    width: 150px;
    /* Ajusta el ancho del input */
}

/* ==========================
   Botones de login
========================== */
.loginBtns {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.btnLogin {
    background-color: #adb5bd;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #212529;
    border-radius: 10px;
    font-size: 0.9rem;
    min-width: 120px;
    padding: 6px 12px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btnLogin:hover {
    background-color: #ced4da;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #212529;
}

.userAvatarContainer {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userName {
  color: gold; 
  font-weight: bold;}
  .btnSalir {
  background-color: var(--main-clr3); 
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 6px 14px;
  font-size: 0.9rem;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btnSalir:hover {
  background-color: var(--main-clr7); 
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btnSalir:active {
  transform: scale(0.98);
  background-color: var(--main-clr6);
}
