/* ==========================
   Body
========================== */

body {
    background-color: var(--main-clr5);
}

h1 {
    background-image: url(../Assets/img/imagecf55.jpg);
    background-position: center;
    padding: 50px;
}

/* ==========================
   Estilos de la cuadrilla
========================== */
.reserva-contenedor {
    padding: 40px 16px;
}

.calendario{
    width: 160px;
}

.col {
    border: 1px solid #c0b8b8;
}

.grid-item-hora {
    border: 1px solid #c0b8b8;
    padding: 15px;
    background-color: #000;
    color: #fff;
}

.grid-item {
    padding: 13px;
    border-bottom: 1px solid #000;
    background-color: #fff;
    color: #fff;
}

.col-vacia {
    background-color: #6b9488;
    position: relative;
}

.col-vacia:hover {
    background-color: #78ff70;
    cursor: pointer;
}

/* ==========================
   Dropdown
========================== */

.dropdown-reserva {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  height: 200px;
  width: 220px;
  display: none;
  max-width: 0;
  z-index: 1000;
}

.dropdown-reserva::before {
    content: " ";
    width: 14px;
    height: 14px;
    position: absolute;
    left: calc(50% - 7px);
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
    top: -7px;
    transform: rotate(45deg);
}

.dropdown-reserva.show {
    max-width: 300px;
    display: inherit;
}

.btn-reserva {
    background-color: rgba(0, 255, 0, 0.733);
    padding: 8px;
    border-radius: 20px;
    width: 88%;
    color: #000;
}

.btn-reserva:hover {
    background-color: rgb(15, 223, 105);
}

.dropdown-menu {
    width: 365px;
}

.dpdn-span {
    margin: 10px 100px;
    margin: 0;
}

.info-dd-1 {
    width: 95%;
}

.contenedor-info-dd-2 {
    width: 95%;
}

/* ==========================
   Informacion de las reservas
========================== */

#reservado {
    background-color: #e94c0e;
    width: 10px;
    height: 10px;
    margin-right: 3px;
}

#disponible {
    background-color: #6b9488;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 15px;
}

#reserva-responsive-section {
    display: none;
}

/* ==========================
   Responsive
========================== */

@media (max-width: 480px) {
    .contenedor-principal {
        height: 100%;
        background-color: #fff;
    }


    .reserva-contenedor,
    #ttl-reserva,
    .seccion-comentarios-contenedor {
        display: none;
    }

    #reserva-responsive-section {
        display: initial;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #c0b8b8;
    }

    button {
        background-color: #fcf9f9;
        border: none;
        display: flex;
        flex-direction: column;
        padding: 10px 14px;
        border-radius: 10px;
        border: 1px solid;
        color: #c0b8b8;
        font-size: 18px;
    }

    button:active>span {
        color: var(--main-clr5);
    }

    .col {
        padding: 10px;
        border-radius: 19px;
        margin: 0 5px;
    }

    .col:hover {
        border: 1px solid var(--main-clr5);
        color: var(--main-clr5);
        background-color: var(--main-clr7);
    }

    #cancha1-responsive {
        background-color: var(--main-clr6);
        display: inline-block;
        padding: 1rem 1rem;
        border-radius: 10px;
    }

    #cancha1-responsive a {
        text-decoration: none;
        color: var(--main-clr2);
        font-size: 1rem;
        letter-spacing: 1px;
    }

    #cancha2-reserva-responsive {
        border-top: 1px solid #c0b8b8;
        border-bottom: 1px solid #c0b8b8;
    }

    #cancha1-reserva-responsive {
        border-top: 1px solid #c0b8b8;
        border-bottom: 1px solid #c0b8b8;
    }

    .canchas-responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}